# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the FiveM documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

### AUTOMATICALY SET BY PTERODACTYL ###
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

## You CAN edit the following:
sv_maxclients 10
set steam_webApiKey ""
sv_endpointprivacy true
sv_scriptHookAllowed 0
#rcon_password ""
sets tags "default"

## You MAY edit the following:
set sv_licenseKey
sv_hostname "New FiveM Server with Pterodactyl"
sets sv_projectName "My Pterodactyl Project"
sets sv_projectDesc "Default Pterodactyl requiring configuration"
sets locale "root-AQ"
set onesync on

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
